body {
    width: 280px;
}

input {
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

.help {
    padding: 5px;
}

#subtitlePositionOffsetBottomInput {
    width: 50px;
    margin-left: 4px;
}