.asbplayer-subtitles {
    position: absolute;
    text-align: center;
    z-index: 1000000;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 24px;
}

.asbplayer-fullscreen-subtitles {
    position: absolute;
    text-align: center;
    z-index: 1000000;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 36px;
}