body {
    width: 280px;
    background-color: #303030;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 12px;
    border-radius: 8px;
    appearance: none;
}

.keys {
    font-size: 12px;
    background-color: #404040;
    padding: 4px;
    border-collapse: collapse;
    margin-top: 8px;
}

.keys td {
    border-color: #686868;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}

input {
    vertical-align: middle;
}

.checkbox-color {
    position: absolute;
    opacity: 0;
}

.checkbox-color + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

.checkbox-color + label::before {
    content: '';
    margin-left: 4px;
    border-radius: 3px;
    margin-top: 0px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #303030;
    border: solid 2px #c2bfc0;
}

.checkbox-color:hover + label::before {
    box-shadow: 0px 0px 8px 6px #ff1f6210;
    background: #ff1f6210;
    transition: 0.4s;
}

.checkbox-color:checked + label::before {
    background: #ff1f62;
    border: solid 2px #ff1f62;
}

.checkbox-color:checked + label::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 7.5px;
    background: #303030;
    width: 2.4px;
    height: 2px;
    box-shadow: 2px 0 0 #303030, 4px 0 0 #303030, 4px -2px 0 #303030, 4px -4px 0 #303030, 4px -6px 0 #303030,
        4px -8px 0 #303030;
    transform: rotate(45deg);
}

hr {
    background: #686868;
    height: 1px;
    border: 0;
    display: block;
}

.help {
    padding: 5px;
}

.input-text {
    background: #303030;
    border-radius: 3px;
    border: solid 1px #c2bfc0;
    color: #fff;
}

.input-text:hover {
    border-color: #fff;
}

.input-text:focus {
    border-color: #ff1f62;
    outline: 0;
}

#subtitlePositionOffsetBottomInput {
    width: 50px;
    margin-left: 4px;
}

#asbplayerUrl {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}

#asbplayerUrlInput {
    width: 272px;
}