.asbplayer-subtitles-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 2147483647;
}

.asbplayer-subtitles {
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: text;
    line-height: normal;
}

.asbplayer-fullscreen-subtitles {
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: text;
    line-height: normal;
}

.asbplayer-hide {
    display: none;
}

.asbplayer-drag-zone-initial {
    position: absolute;
    pointer-events: none;
    z-index: 2147483647;
}

.asbplayer-drag-zone-dragging {
    pointer-events: all;
}

.asbplayer-drag-image {
    position: relative;
    pointer-events: none;
}

.asbplayer-drag-image-fade-in {
    animation-duration: 0.2s;
    animation-name: asbplayer-fade-in;
}

@keyframes asbplayer-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.asbplayer-drag-image-container {
    position: absolute;
    pointer-events: none;
    z-index: 2147483647;
    background-color: rgba(0, 0, 0, 0.5);
}