.asbplayer-subtitles-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 2147483647;
}

.asbplayer-subtitles {
    text-align: center !important;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: text !important;
    cursor: text !important;
    line-height: normal !important;
    white-space: pre-wrap !important;
}

.asbplayer-fullscreen-subtitles {
    text-align: center !important;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
    user-select: text !important;
    cursor: text !important;
    line-height: normal !important;
    white-space: pre-wrap !important;
}

.asbplayer-ui-frame {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    visibility: visible !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2147483647 !important;
    border: 0;
}

.asbplayer-hide {
    display: none !important;
}

.asbplayer-drag-zone-initial {
    position: absolute;
    pointer-events: none;
    z-index: 2147483647;
}

.asbplayer-drag-zone-dragging {
    pointer-events: all;
}

.asbplayer-image {
    position: relative;
    pointer-events: none;
}

.asbplayer-image-fade-in {
    animation-duration: 0.2s;
    animation-name: asbplayer-fade-in;
}

@keyframes asbplayer-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.asbplayer-image-fill-container {
    position: absolute;
    z-index: 2147483647;
    background-color: rgba(0, 0, 0, 0.5);
}

.asbplayer-image-corner-container {
    position: absolute;
    z-index: 2147483647;
}


.asbplayer-drag-image {
    pointer-events: none;
}

.asbplayer-mouse-over-image {
    position: absolute;
    z-index: 2147483647;
}

.asbplayer-mouse-over-image {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.2s;
}

.asbplayer-mouse-over-image:hover {
    opacity: 1;
}

.asbplayer-sync-button {
    cursor: pointer;
    opacity: 0.7;
    filter: grayscale(100%);
}

.asbplayer-sync-button:hover {
    opacity: 1;
    filter: none;
}

.asbplayer-sync-button-fade-in {
    animation-duration: 0.2s;
    animation-name: asbplayer-sync-button-fade-in;
}

@keyframes asbplayer-sync-button-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: .7;
    }
}