.asbplayer-offscreen {
    position: fixed !important;
    left: 100% !important;
    top: 100% !important;
}

.asbplayer-subtitles {
    margin: 0;
    padding: 0;
    display: table;
    margin: auto;
    white-space: pre-wrap !important;
}

.asbplayer-subtitles ruby {
    ruby-position: over;
}

.asbplayer-subtitles rt {
    font-size: 0.5em;
    line-height: 1;
}

.asbplayer-subtitles-blurred {
    filter: blur(10px);
}

.asbplayer-subtitles-blurred:hover {
    filter: none;
}

.asbplayer-subtitle-rich {
    display: none;
}

.asbplayer-subtitles:hover .asbplayer-subtitle-text {
    display: none;
}

.asbplayer-subtitles:hover .asbplayer-subtitle-rich {
    display: inline;
}

.asbplayer-token-container:focus-within .asb-token-highlight:hover {
    background-color: rgb(0, 123, 255) !important;
}

.asbplayer-token-container:focus-within {
    outline: none;
}
