.asbplayer-offscreen {
    position: fixed !important;
    left: 100% !important;
    top: 100% !important;
}

.asbplayer-subtitles-blurred {
    filter: blur(10px);
}

.asbplayer-subtitles-blurred:hover {
    filter: none;
}

.subtitle-line {
    margin: 0;
    padding: 0;
    display: table;
    margin: auto;
}

.subtitle-line ruby {
    ruby-position: over;
}

.subtitle-line rt {
    font-size: 0.5em;
    line-height: 1;
}
